body{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template: 1fr 5fr / 1fr 5fr 
}

#right-icon,
#main-icon{
    height: 50px;
    width: 50px;
}

img{
    align-self: center;
}

.search-bar{
    background-color: black;
    width: 400px;
    height: 30px;
    border-radius: 100px;
}

.left-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.left-header>img{
    width: 30px;
    height: 30px;
}

.right-header{
    display: flex;
    align-items: center;
}

.right-header,.left-header{
    gap: 16px;
}

.top-header,.bottom-header{
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
}

.left-bot-header{
    display: flex;
    align-items: center;
}

.bot-text{
    display: flex;
    flex-direction: column;
}

.bottom-header{
    align-items: center;

}

.sidebar{
    grid-column: 1;
    grid-row: 1 /span 2;
    background-color: yellow;

    display: flex;
    flex-direction: column;
    gap:40px;
    padding-left: 8px;
    
}

.top-side,.mid-side >div,.bottom-side>div{
    display:flex;
    align-items: center;
    gap: 5px
}


header{
    background-color: blue;
    grid-column: 2;
    grid-row: 1;
    padding: 8px;
    padding-right: 20px;
    padding-left: 20px;

}

.main-content{
    background-color: red;
    grid-column: 2;
    grid-row:2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.projects{
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 250px));
    gap: 20px
}

.project-text{
    grid-column: 1/span 3;
    display: flex;
    align-items: flex-end;

}

.projects>div.card{
    width: 250px;
    height: 200px;
    background-color: green;
}

.announcements{
    grid-column: 2;
    grid-row:2;
}
